<a href="https://colab.research.google.com/github/helenksouza/helenksouza/blob/main/DataScience_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Aula 2

In [ ]:
pip install -U wget

Requirement already satisfied: wget in /usr/local/lib/python3.7/dist-packages (3.2)

# Pandas

* Pacote de análise de dados.

* Sem limitação de  tamanho.

* Excel máximo: 2GB 1milhão linha x 16 mil colunas

Series- array np -> DataFrame

In [ ]:
df = pd.read_csv('/content/sample_data/california_housing_test.csv') #/content/sample_data/california_housing_test.csv

In [ ]:
df.head()

   longitude  latitude  ...  median_income  median_house_value
0    -122.05     37.37  ...         6.6085            344700.0
1    -118.30     34.26  ...         3.5990            176500.0
2    -117.81     33.78  ...         5.7934            270500.0
3    -118.36     33.82  ...         6.1359            330000.0
4    -119.67     36.33  ...         2.9375             81700.0

[5 rows x 9 columns]

In [ ]:
df.shape

(3000, 9)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           3000 non-null   float64
 1   latitude            3000 non-null   float64
 2   housing_median_age  3000 non-null   float64
 3   total_rooms         3000 non-null   float64
 4   total_bedrooms      3000 non-null   float64
 5   population          3000 non-null   float64
 6   households          3000 non-null   float64
 7   median_income       3000 non-null   float64
 8   median_house_value  3000 non-null   float64
dtypes: float64(9)
memory usage: 211.1 KB

In [ ]:
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           3000 non-null   float64
 1   latitude            3000 non-null   float64
 2   housing_median_age  3000 non-null   float64
 3   total_rooms         3000 non-null   float64
 4   total_bedrooms      3000 non-null   float64
 5   population          3000 non-null   float64
 6   households          3000 non-null   float64
 7   median_income       3000 non-null   float64
 8   median_house_value  3000 non-null   float64
dtypes: float64(9)
memory usage: 211.1 KB

In [ ]:
df['longitude']

0      -122.05
1      -118.30
2      -117.81
3      -118.36
4      -119.67
         ...
2995   -119.86
2996   -118.14
2997   -119.70
2998   -117.12
2999   -119.63
Name: longitude, Length: 3000, dtype: float64

In [ ]:
type(df['longitude'])

pandas.core.series.Series

In [ ]:
df['longitude'] = df['longitude'] * 2 #operação vetorizada

In [ ]:
df.head()

   longitude  latitude  ...  median_income  median_house_value
0    -244.10     37.37  ...         6.6085            344700.0
1    -236.60     34.26  ...         3.5990            176500.0
2    -235.62     33.78  ...         5.7934            270500.0
3    -236.72     33.82  ...         6.1359            330000.0
4    -239.34     36.33  ...         2.9375             81700.0

[5 rows x 9 columns]

In [ ]:
df.loc[1, : ]

longitude               -236.600
latitude                  34.260
housing_median_age        43.000
total_rooms             1510.000
total_bedrooms           310.000
population               809.000
households               277.000
median_income              3.599
median_house_value    176500.000
Name: 1, dtype: float64

In [ ]:
type(df.loc[1, : ]) #1ª linha e tds colunas

pandas.core.series.Series

In [ ]:
df.loc[1, 'latitude']

34.26

In [ ]:
df.loc[df['housing_median_age'] > 27, :]

      longitude  latitude  ...  median_income  median_house_value
1       -236.60     34.26  ...         3.5990            176500.0
3       -236.72     33.82  ...         6.1359            330000.0
5       -239.12     36.51  ...         1.6635             67000.0
6       -242.86     38.63  ...         1.6641             67000.0
9       -236.04     34.08  ...         2.3333            164200.0
...         ...       ...  ...            ...                 ...
2992    -244.66     37.39  ...         6.2263            500001.0
2993    -235.82     33.60  ...         5.1048            500001.0
2994    -235.86     33.86  ...         5.5867            182500.0
2998    -234.24     34.10  ...         3.2708            162500.0
2999    -239.26     34.42  ...         8.5608            500001.0

[1610 rows x 9 columns]

## Dados Abertos

In [ ]:
import os #comando abrir/fechar ir para pasta
import wget #!wgethttps://www.camara.leg.br/cotas/Ano-2021.csv.zip
import glob

https://dadosabertos.camara.leg.br/

!wgethttps://www.camara.leg.br/cotas/Ano-2021.csv.zip

In [ ]:
!wget https://www.camara.leg.br/cotas/Ano-2021.csv.zip

--2021-11-16 01:37:24--  https://www.camara.leg.br/cotas/Ano-2021.csv.zip
Resolving www.camara.leg.br (www.camara.leg.br)... 200.219.133.54, 200.219.133.58, 200.219.133.84
Connecting to www.camara.leg.br (www.camara.leg.br)|200.219.133.54|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 4934455 (4.7M) [application/zip]
Saving to: ‘Ano-2021.csv.zip.1’

Ano-2021.csv.zip.1  100%[===================>]   4.71M  1.93MB/s    in 2.4s

2021-11-16 01:37:28 (1.93 MB/s) - ‘Ano-2021.csv.zip.1’ saved [4934455/4934455]

In [ ]:
  anos = range(2008, 2022) #final excluso

  for ano in anos:
    url = f'https://www.camara.leg.br/cotas/Ano-{ano}.csv.zip' #string formatado

    print(url)

https://www.camara.leg.br/cotas/Ano-2008.csv.zip
https://www.camara.leg.br/cotas/Ano-2009.csv.zip
https://www.camara.leg.br/cotas/Ano-2010.csv.zip
https://www.camara.leg.br/cotas/Ano-2011.csv.zip
https://www.camara.leg.br/cotas/Ano-2012.csv.zip
https://www.camara.leg.br/cotas/Ano-2013.csv.zip
https://www.camara.leg.br/cotas/Ano-2014.csv.zip
https://www.camara.leg.br/cotas/Ano-2015.csv.zip
https://www.camara.leg.br/cotas/Ano-2016.csv.zip
https://www.camara.leg.br/cotas/Ano-2017.csv.zip
https://www.camara.leg.br/cotas/Ano-2018.csv.zip
https://www.camara.leg.br/cotas/Ano-2019.csv.zip
https://www.camara.leg.br/cotas/Ano-2020.csv.zip
https://www.camara.leg.br/cotas/Ano-2021.csv.zip

In [ ]:
if len(os.listdir('./data/')) == 0: #ñ baixando varias vezes

  anos = range(2008, 2022) #final excluso

  for ano in anos:
    url = f'https://www.camara.leg.br/cotas/Ano-{ano}.csv.zip' #string formatado
    wget.download(url, out='./data/') #baixando na pasta data

In [ ]:
pwd()

'/content'

In [ ]:
os.listdir() #vendo arquivos

['.config',
 'movie.mp4',
 'Ano-2021.csv.zip.1',
 'data',
 'Ano-2021.csv.zip',
 '.ipynb_checkpoints',
 'sample_data']

In [ ]:
len(os.listdir())

7

LENDO:

In [ ]:
files = glob.glob('./data/*.csv.zip') #arquivos que terminam com csv.zip

In [ ]:
files

['./data/Ano-2013.csv.zip',
 './data/Ano-2009.csv.zip',
 './data/Ano-2017.csv.zip',
 './data/Ano-2020.csv.zip',
 './data/Ano-2018.csv.zip',
 './data/Ano-2019.csv.zip',
 './data/Ano-2012.csv.zip',
 './data/Ano-2014.csv.zip',
 './data/Ano-2008.csv.zip',
 './data/Ano-2015.csv.zip',
 './data/Ano-2021.csv.zip',
 './data/Ano-2011.csv.zip',
 './data/Ano-2010.csv.zip',
 './data/Ano-2016.csv.zip']

In [ ]:
dfs

[       txNomeParlamentar           cpf  ...  ideDocumento  urlDocumento
 0       LIDERANÇA DO PDT           NaN  ...       5159141           NaN
 1       LIDERANÇA DO PDT           NaN  ...       5165750           NaN
 2       LIDERANÇA DO PDT           NaN  ...       5177451           NaN
 3       LIDERANÇA DO PDT           NaN  ...       5227489           NaN
 4       LIDERANÇA DO PDT           NaN  ...       5244951           NaN
 ...                  ...           ...  ...           ...           ...
 391523      HELCIO SILVA  4.846362e+09  ...       5316393           NaN
 391524      HELCIO SILVA  4.846362e+09  ...       5316410           NaN
 391525      HELCIO SILVA  4.846362e+09  ...       5316414           NaN
 391526      HELCIO SILVA  4.846362e+09  ...        751090           NaN
 391527      HELCIO SILVA  4.846362e+09  ...        792236           NaN

 [391528 rows x 31 columns],
        txNomeParlamentar           cpf  ...  ideDocumento  urlDocumento
 0          ATHOS AVELINO           NaN  ...             0           NaN
 1        FERNANDO ESTIMA           NaN  ...             0           NaN
 2            JOÃO FONTES           NaN  ...             0           NaN
 3           LUIZ MOREIRA           NaN  ...             0           NaN
 4           LUIZ MOREIRA           NaN  ...             0           NaN
 ...                  ...           ...  ...           ...           ...
 265192      BENE CAMACHO  9.494500e+10  ...       1714487           NaN
 265193      BENE CAMACHO  9.494500e+10  ...       1714521           NaN
 265194      BENE CAMACHO  9.494500e+10  ...             0           NaN
 265195      BENE CAMACHO  9.494500e+10  ...             0           NaN
 265196      BENE CAMACHO  9.494500e+10  ...             0           NaN

 [265197 rows x 31 columns],
        txNomeParlamentar           cpf  ...  ideDocumento  urlDocumento
 0             LID.GOV-CD           NaN  ...       6328475           NaN
 1             LID.GOV-CD           NaN  ...       6423547           NaN
 2             LID.GOV-CD           NaN  ...       6327499           NaN
 3             LID.GOV-CD           NaN  ...       6327494           NaN
 4             LID.GOV-CD           NaN  ...       6356388           NaN
 ...                  ...           ...  ...           ...           ...
 367809    XUXU DAL MOLIN  7.784383e+10  ...       1522576           NaN
 367810    XUXU DAL MOLIN  7.784383e+10  ...       1511165           NaN
 367811    XUXU DAL MOLIN  7.784383e+10  ...       1510785           NaN
 367812    XUXU DAL MOLIN  7.784383e+10  ...       1511164           NaN
 367813    XUXU DAL MOLIN  7.784383e+10  ...       1510958           NaN

 [367814 rows x 31 columns],
               txNomeParlamentar  ...                                       urlDocumento
 0       LIDERANÇA DO DEMOCRATAS  ...  http://camara.leg.br/cota-parlamentar/nota-fis...
 1       LIDERANÇA DO DEMOCRATAS  ...  http://camara.leg.br/cota-parlamentar/nota-fis...
 2       LIDERANÇA DO DEMOCRATAS  ...  http://camara.leg.br/cota-parlamentar/nota-fis...
 3       LIDERANÇA DO DEMOCRATAS  ...  http://camara.leg.br/cota-parlamentar/nota-fis...
 4       LIDERANÇA DO DEMOCRATAS  ...  http://camara.leg.br/cota-parlamentar/nota-fis...
 ...                         ...  ...                                                ...
 164906            Jorge Goetten  ...                                                NaN
 164907            Jorge Goetten  ...                                                NaN
 164908            Jorge Goetten  ...                                                NaN
 164909            Jorge Goetten  ...                                                NaN
 164910            Jorge Goetten  ...                                                NaN

 [164911 rows x 31 columns],
        txNomeParlamentar  ...                                       urlDocumento
 0             LID.GOV-CD  ...  http://camara.leg.br/cota-parlamentar/nota-fis...
 1             LID.GOV-CD  ...  http://camara.leg.br/cota-parlamentar/nota-fis...
 2             LID.GOV-CD  ...  http://camara.leg.br/cota-parlamentar/nota-fis...
 3             LID.GOV-CD  ...  http://camara.leg.br/cota-parlamentar/nota-fis...
 4             LID.GOV-CD  ...  http://camara.leg.br/cota-parlamentar/nota-fis...
 ...                  ...  ...                                                ...
 292666      FELIPE SOUZA  ...                                                NaN
 292667      FELIPE SOUZA  ...  http://camara.leg.br/cota-parlamentar/nota-fis...
 292668      FELIPE SOUZA  ...  http://camara.leg.br/cota-parlamentar/nota-fis...
 292669      FELIPE SOUZA  ...  http://camara.leg.br/cota-parlamentar/nota-fis...
 292670      FELIPE SOUZA  ...                                                NaN

 [292671 rows x 31 columns],
        txNomeParlamentar  ...                                       urlDocumento
 0             LID.GOV-CD  ...  http://camara.leg.br/cota-parlamentar/nota-fis...
 1             LID.GOV-CD  ...  http://camara.leg.br/cota-parlamentar/nota-fis...
 2             LID.GOV-CD  ...  http://camara.leg.br/cota-parlamentar/nota-fis...
 3             LID.GOV-CD  ...  http://camara.leg.br/cota-parlamentar/nota-fis...
 4             LID.GOV-CD  ...  http://camara.leg.br/cota-parlamentar/nota-fis...
 ...                  ...  ...                                                ...
 289388       Dr. Gonçalo  ...                                                NaN
 289389      Marcão Gomes  ...  https://www.camara.leg.br/cota-parlamentar/doc...
 289390      Marcão Gomes  ...  https://www.camara.leg.br/cota-parlamentar/doc...
 289391      Marcão Gomes  ...                                                NaN
 289392      Marcão Gomes  ...  https://www.camara.leg.br/cota-parlamentar/doc...

 [289393 rows x 31 columns],
                    txNomeParlamentar           cpf  ...  ideDocumento  urlDocumento
 0                  LIDERANÇA DO PSDB           NaN  ...       2369544           NaN
 1                  LIDERANÇA DO PSDB           NaN  ...       2369548           NaN
 2                  LIDERANÇA DO PSDB           NaN  ...       2334211           NaN
 3                  LIDERANÇA DO PSDB           NaN  ...       2334214           NaN
 4                  LIDERANÇA DO PSDB           NaN  ...       2375667           NaN
 ...                              ...           ...  ...           ...           ...
 358340  PROFESSOR SÉRGIO DE OLIVEIRA  4.681238e+10  ...             0           NaN
 358341  PROFESSOR SÉRGIO DE OLIVEIRA  4.681238e+10  ...             0           NaN
 358342  PROFESSOR SÉRGIO DE OLIVEIRA  4.681238e+10  ...             0           NaN
 358343  PROFESSOR SÉRGIO DE OLIVEIRA  4.681238e+10  ...             0           NaN
 358344  PROFESSOR SÉRGIO DE OLIVEIRA  4.681238e+10  ...             0           NaN

 [358345 rows x 31 columns],
                                        txNomeParlamentar  ...                                       urlDocumento
 0       LIDERANÇA DO PARTIDO REPUBLICANO DA ORDEM SOCIAL  ...  https://www.camara.leg.br/cota-parlamentar/doc...
 1       LIDERANÇA DO PARTIDO REPUBLICANO DA ORDEM SOCIAL  ...  https://www.camara.leg.br/cota-parlamentar/doc...
 2       LIDERANÇA DO PARTIDO REPUBLICANO DA ORDEM SOCIAL  ...  https://www.camara.leg.br/cota-parlamentar/doc...
 3       LIDERANÇA DO PARTIDO REPUBLICANO DA ORDEM SOCIAL  ...  https://www.camara.leg.br/cota-parlamentar/doc...
 4       LIDERANÇA DO PARTIDO REPUBLICANO DA ORDEM SOCIAL  ...  https://www.camara.leg.br/cota-parlamentar/doc...
 ...                                                  ...  ...                                                ...
 356087                                     ROSY DE SOUSA  ...  https://www.camara.leg.br/cota-parlamentar/doc...
 356088                                     ROSY DE SOUSA  ...                                                NaN
 356089                                     ROSY DE SOUSA  ...                                                NaN
 356090                                     ROSY DE SOUSA  ...                                                NaN
 356091                                     ROSY DE SOUSA  ...                                                NaN

 [356092 rows x 31 columns],
             txNomeParlamentar          cpf  ...  ideDocumento  urlDocumento
 0             JOSEPH BANDEIRA   7251602504  ...       1612380           NaN
 1             JOSEPH BANDEIRA   7251602504  ...       1561354           NaN
 2                SILVIO COSTA  10481389415  ...             0           NaN
 3                 ALDO REBELO  16412150463  ...             0           NaN
 4    ANTONIO CARLOS PANNUNZIO  18952364872  ...             0           NaN
 ..                        ...          ...  ...           ...           ...
 440         EDIGAR MÃO BRANCA  12228672572  ...             0           NaN
 441               CHICO ABREU  14774534153  ...             0           NaN
 442           MARCELO ALMEIDA  59802596949  ...             0           NaN
 443               MAJOR FÁBIO  48018627487  ...       1687411           NaN
 444                JOSÉ EDMAR   3808190159  ...       1578001           NaN

 [445 rows x 31 columns],
                                        txNomeParlamentar  ...                                       urlDocumento
 0       LIDERANÇA DO PARTIDO REPUBLICANO DA ORDEM SOCIAL  ...  https://www.camara.leg.br/cota-parlamentar/doc...
 1       LIDERANÇA DO PARTIDO REPUBLICANO DA ORDEM SOCIAL  ...  https://www.camara.leg.br/cota-parlamentar/doc...
 2       LIDERANÇA DO PARTIDO REPUBLICANO DA ORDEM SOCIAL  ...  https://www.camara.leg.br/cota-parlamentar/doc...
 3       LIDERANÇA DO PARTIDO REPUBLICANO DA ORDEM SOCIAL  ...  https://www.camara.leg.br/cota-parlamentar/doc...
 4       LIDERANÇA DO PARTIDO REPUBLICANO DA ORDEM SOCIAL  ...  https://www.camara.leg.br/cota-parlamentar/doc...
 ...                                                  ...  ...                                                ...
 403625                                    WILSON BESERRA  ...                                                NaN
 403626                                    WILSON BESERRA  ...                                                NaN
 403627                                    WILSON BESERRA  ...                                                NaN
 403628                                    WILSON BESERRA  ...                                                NaN
 403629                                      NELSON NAHIM  ...                                                NaN

 [403630 rows x 31 columns],
              txNomeParlamentar  ...                                       urlDocumento
 0       LIDERANÇA DO CIDADANIA  ...  http://camara.leg.br/cota-parlamentar/nota-fis...
 1       LIDERANÇA DO CIDADANIA  ...  http://camara.leg.br/cota-parlamentar/nota-fis...
 2       LIDERANÇA DO CIDADANIA  ...  http://camara.leg.br/cota-parlamentar/nota-fis...
 3       LIDERANÇA DO CIDADANIA  ...  http://camara.leg.br/cota-parlamentar/nota-fis...
 4       LIDERANÇA DO CIDADANIA  ...  http://camara.leg.br/cota-parlamentar/nota-fis...
 ...                        ...  ...                                                ...
 150232             Jones Moura  ...  https://www.camara.leg.br/cota-parlamentar/doc...
 150233             Jones Moura  ...  https://www.camara.leg.br/cota-parlamentar/doc...
 150234             Jones Moura  ...  https://www.camara.leg.br/cota-parlamentar/doc...
 150235             Jones Moura  ...  https://www.camara.leg.br/cota-parlamentar/doc...
 150236             Jones Moura  ...  https://www.camara.leg.br/cota-parlamentar/doc...

 [150237 rows x 31 columns],
         txNomeParlamentar           cpf  ...  ideDocumento  urlDocumento
 0       LIDERANÇA DO PSDB           NaN  ...       2246504           NaN
 1       LIDERANÇA DO PSDB           NaN  ...       2246505           NaN
 2       LIDERANÇA DO PSDB           NaN  ...       2181555           NaN
 3       LIDERANÇA DO PSDB           NaN  ...       2193013           NaN
 4       LIDERANÇA DO PSDB           NaN  ...       2150852           NaN
 ...                   ...           ...  ...           ...           ...
 385164   Simplício Araújo  3.348987e+10  ...             0           NaN
 385165   Simplício Araújo  3.348987e+10  ...             0           NaN
 385166   Simplício Araújo  3.348987e+10  ...             0           NaN
 385167   Simplício Araújo  3.348987e+10  ...             0           NaN
 385168   Simplício Araújo  3.348987e+10  ...             0           NaN

 [385169 rows x 31 columns],
        txNomeParlamentar          cpf  ...  ideDocumento  urlDocumento
 0           JAIRO ATAÍDE   3428311604  ...       1842224           NaN
 1           JAIRO ATAÍDE   3428311604  ...       1865377           NaN
 2           JAIRO ATAÍDE   3428311604  ...       1776575           NaN
 3           JAIRO ATAÍDE   3428311604  ...       1977841           NaN
 4           JAIRO ATAÍDE   3428311604  ...       1992509           NaN
 ...                  ...          ...  ...           ...           ...
 349230    JUNIOR MARZOLA  51738490610  ...             0           NaN
 349231    JUNIOR MARZOLA  51738490610  ...             0           NaN
 349232    JUNIOR MARZOLA  51738490610  ...             0           NaN
 349233            VIEGAS  10904255468  ...             0           NaN
 349234            VIEGAS  10904255468  ...       1987395           NaN

 [349235 rows x 31 columns],
        txNomeParlamentar  ...                                       urlDocumento
 0             LID.GOV-CD  ...  https://www.camara.leg.br/cota-parlamentar/doc...
 1             LID.GOV-CD  ...  https://www.camara.leg.br/cota-parlamentar/doc...
 2             LID.GOV-CD  ...  https://www.camara.leg.br/cota-parlamentar/doc...
 3             LID.GOV-CD  ...  https://www.camara.leg.br/cota-parlamentar/doc...
 4             LID.GOV-CD  ...  https://www.camara.leg.br/cota-parlamentar/doc...
 ...                  ...  ...                                                ...
 383111     POLLYANA GAMA  ...                                                NaN
 383112     POLLYANA GAMA  ...                                                NaN
 383113     POLLYANA GAMA  ...                                                NaN
 383114     POLLYANA GAMA  ...                                                NaN
 383115     POLLYANA GAMA  ...                                                NaN

 [383116 rows x 31 columns]]

In [ ]:
dfs[0]

       txNomeParlamentar           cpf  ...  ideDocumento  urlDocumento
0       LIDERANÇA DO PDT           NaN  ...       5159141           NaN
1       LIDERANÇA DO PDT           NaN  ...       5165750           NaN
2       LIDERANÇA DO PDT           NaN  ...       5177451           NaN
3       LIDERANÇA DO PDT           NaN  ...       5227489           NaN
4       LIDERANÇA DO PDT           NaN  ...       5244951           NaN
...                  ...           ...  ...           ...           ...
391523      HELCIO SILVA  4.846362e+09  ...       5316393           NaN
391524      HELCIO SILVA  4.846362e+09  ...       5316410           NaN
391525      HELCIO SILVA  4.846362e+09  ...       5316414           NaN
391526      HELCIO SILVA  4.846362e+09  ...        751090           NaN
391527      HELCIO SILVA  4.846362e+09  ...        792236           NaN

[391528 rows x 31 columns]

In [ ]:
files = glob.glob('./data/*.csv.zip') #arquivos que terminam com csv.zip
dfs = [pd.read_csv(item, compression='zip', sep=';') for item in files]

deps = pd.concat(dfs, ignore_index=True) #conactendando ao longo das colunas #axis=1 um do lado do outro

In [ ]:
deps = pd.concat(dfs, ignore_index=True)

In [ ]:
deps.shape

(4157783, 31)

In [ ]:
deps.info(memory_usage='deep', verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4157783 entries, 0 to 4157782
Data columns (total 31 columns):
 #   Column                     Dtype
---  ------                     -----
 0   txNomeParlamentar          object
 1   cpf                        float64
 2   ideCadastro                float64
 3   nuCarteiraParlamentar      float64
 4   nuLegislatura              int64
 5   sgUF                       object
 6   sgPartido                  object
 7   codLegislatura             int64
 8   numSubCota                 int64
 9   txtDescricao               object
 10  numEspecificacaoSubCota    int64
 11  txtDescricaoEspecificacao  object
 12  txtFornecedor              object
 13  txtCNPJCPF                 object
 14  txtNumero                  object
 15  indTipoDocumento           int64
 16  datEmissao                 object
 17  vlrDocumento               float64
 18  vlrGlosa                   float64
 19  vlrLiquido                 float64
 20  numMes                     int64
 21  numAno                     int64
 22  numParcela                 int64
 23  txtPassageiro              object
 24  txtTrecho                  object
 25  numLote                    int64
 26  numRessarcimento           float64
 27  vlrRestituicao             float64
 28  nuDeputadoId               int64
 29  ideDocumento               int64
 30  urlDocumento               object
dtypes: float64(8), int64(11), object(12)
memory usage: 3.7 GB

In [ ]:
deps.head(6)

  txNomeParlamentar  cpf  ideCadastro  ...  nuDeputadoId  ideDocumento urlDocumento
0  LIDERANÇA DO PDT  NaN          NaN  ...          2715       5159141          NaN
1  LIDERANÇA DO PDT  NaN          NaN  ...          2715       5165750          NaN
2  LIDERANÇA DO PDT  NaN          NaN  ...          2715       5177451          NaN
3  LIDERANÇA DO PDT  NaN          NaN  ...          2715       5227489          NaN
4  LIDERANÇA DO PDT  NaN          NaN  ...          2715       5244951          NaN
5  LIDERANÇA DO PDT  NaN          NaN  ...          2715       5273539          NaN

[6 rows x 31 columns]

In [ ]:
deps.tail(6) #últimos linhas

        txNomeParlamentar           cpf  ...  ideDocumento  urlDocumento
4157777     POLLYANA GAMA  1.221001e+10  ...       1382917           NaN
4157778     POLLYANA GAMA  1.221001e+10  ...       1384860           NaN
4157779     POLLYANA GAMA  1.221001e+10  ...       1384969           NaN
4157780     POLLYANA GAMA  1.221001e+10  ...       1385379           NaN
4157781     POLLYANA GAMA  1.221001e+10  ...       1388973           NaN
4157782     POLLYANA GAMA  1.221001e+10  ...       1390266           NaN

[6 rows x 31 columns]

In [ ]:
deps.sample(10)

            txNomeParlamentar  ...                                       urlDocumento
2728833         SÁGUAS MORAES  ...  https://www.camara.leg.br/cota-parlamentar/doc...
3599491       SEVERIANO ALVES  ...                                                NaN
1069124         Túlio Gadêlha  ...  https://www.camara.leg.br/cota-parlamentar/doc...
4152775          WADIH DAMOUS  ...                                                NaN
1612614           Jorge Solla  ...  http://camara.leg.br/cota-parlamentar/nota-fis...
2423963         EDSON PIMENTA  ...                                                NaN
2795934  Evair Vieira de Melo  ...                                                NaN
1672802        Sargento Fahur  ...  http://camara.leg.br/cota-parlamentar/nota-fis...
2862702          ANA PERUGINI  ...  https://www.camara.leg.br/cota-parlamentar/doc...
1086290        Domingos Sávio  ...  https://www.camara.leg.br/cota-parlamentar/doc...

[10 rows x 31 columns]

In [ ]:
deps.columns

Index(['txNomeParlamentar', 'cpf', 'ideCadastro', 'nuCarteiraParlamentar',
       'nuLegislatura', 'sgUF', 'sgPartido', 'codLegislatura', 'numSubCota',
       'txtDescricao', 'numEspecificacaoSubCota', 'txtDescricaoEspecificacao',
       'txtFornecedor', 'txtCNPJCPF', 'txtNumero', 'indTipoDocumento',
       'datEmissao', 'vlrDocumento', 'vlrGlosa', 'vlrLiquido', 'numMes',
       'numAno', 'numParcela', 'txtPassageiro', 'txtTrecho', 'numLote',
       'numRessarcimento', 'vlrRestituicao', 'nuDeputadoId', 'ideDocumento',
       'urlDocumento'],
      dtype='object')

In [ ]:
deps.index

RangeIndex(start=0, stop=4157783, step=1)

## As perguntas


- Os gastos por ano
- Os gastos por mes
- Qual deputado gastou mais em cada legislatura
- Quais itens são os gastos principais dos deputados
- Quem é o deputado mais novo na hora de entrar
- Quem é o deputado mais velho na hora de entrar
- Qual deputado viajou mais do que todo mundo
-

In [ ]:
deps['datEmissao']

0          2013-05-28T00:00:00
1          2013-06-27T00:00:00
2          2013-07-29T00:00:00
3          2013-08-28T00:00:00
4          2013-09-26T00:00:00
                  ...
4157778    2016-12-12T00:00:00
4157779    2016-12-12T00:00:00
4157780    2016-12-15T00:00:00
4157781    2016-12-19T00:00:00
4157782    2016-12-20T00:00:00
Name: datEmissao, Length: 4157783, dtype: object

In [ ]:
deps['datEmissao'] = pd.to_datetime(deps['datEmissao']) #convertendo para temo

In [ ]:
deps['datEmissao']

0         2013-05-28
1         2013-06-27
2         2013-07-29
3         2013-08-28
4         2013-09-26
             ...
4157778   2016-12-12
4157779   2016-12-12
4157780   2016-12-15
4157781   2016-12-19
4157782   2016-12-20
Name: datEmissao, Length: 4157783, dtype: datetime64[ns]

In [ ]:
deps[deps['datEmissao'].isnull()]

        txNomeParlamentar           cpf  ...  ideDocumento  urlDocumento
523          JAIRO ATAÍDE  3.428312e+09  ...             0           NaN
524          JAIRO ATAÍDE  3.428312e+09  ...             0           NaN
525          JAIRO ATAÍDE  3.428312e+09  ...             0           NaN
526          JAIRO ATAÍDE  3.428312e+09  ...             0           NaN
527          JAIRO ATAÍDE  3.428312e+09  ...             0           NaN
...                   ...           ...  ...           ...           ...
4157745     POLLYANA GAMA  1.221001e+10  ...             0           NaN
4157746     POLLYANA GAMA  1.221001e+10  ...             0           NaN
4157747     POLLYANA GAMA  1.221001e+10  ...             0           NaN
4157748     POLLYANA GAMA  1.221001e+10  ...             0           NaN
4157749     POLLYANA GAMA  1.221001e+10  ...             0           NaN

[201055 rows x 31 columns]

In [ ]:
deps['datEmissao'].min()

Timestamp('1959-11-03 00:00:00')

In [ ]:
deps['datEmissao'].max()

Timestamp('2021-11-12 16:44:11')

In [ ]:
deps[ deps['datEmissao'].dt.year < 2008]['datEmissao']

403666    1959-11-03
426292    2002-09-09
472887    2000-09-29
499149    2000-09-29
504559    2006-06-12
             ...
3689686   2004-12-14
3702876   2007-07-14
3721623   2001-07-27
3733844   2005-02-05
3760548   2001-03-15
Name: datEmissao, Length: 63, dtype: datetime64[ns]

In [ ]:
deps[['numAno', 'numMes']]

         numAno  numMes
0          2013       6
1          2013       7
2          2013       8
3          2013       9
4          2013       9
...         ...     ...
4157778    2016      12
4157779    2016      12
4157780    2016      12
4157781    2016      12
4157782    2016      12

[4157783 rows x 2 columns]

In [ ]:
deps[deps['numAno'].isnull()]

Empty DataFrame
Columns: [txNomeParlamentar, cpf, ideCadastro, nuCarteiraParlamentar, nuLegislatura, sgUF, sgPartido, codLegislatura, numSubCota, txtDescricao, numEspecificacaoSubCota, txtDescricaoEspecificacao, txtFornecedor, txtCNPJCPF, txtNumero, indTipoDocumento, datEmissao, vlrDocumento, vlrGlosa, vlrLiquido, numMes, numAno, numParcela, txtPassageiro, txtTrecho, numLote, numRessarcimento, vlrRestituicao, nuDeputadoId, ideDocumento, urlDocumento]
Index: []

In [ ]:
deps[deps['numMes'].isnull()]

Empty DataFrame
Columns: [txNomeParlamentar, cpf, ideCadastro, nuCarteiraParlamentar, nuLegislatura, sgUF, sgPartido, codLegislatura, numSubCota, txtDescricao, numEspecificacaoSubCota, txtDescricaoEspecificacao, txtFornecedor, txtCNPJCPF, txtNumero, indTipoDocumento, datEmissao, vlrDocumento, vlrGlosa, vlrLiquido, numMes, numAno, numParcela, txtPassageiro, txtTrecho, numLote, numRessarcimento, vlrRestituicao, nuDeputadoId, ideDocumento, urlDocumento]
Index: []

In [ ]:
deps['numMes']

0           6
1           7
2           8
3           9
4           9
           ..
4157778    12
4157779    12
4157780    12
4157781    12
4157782    12
Name: numMes, Length: 4157783, dtype: int64

In [ ]:
deps.loc[deps['datEmissao'].dt.year < 2008, 'numAno']

403666     2009
426292     2009
472887     2009
499149     2009
504559     2009
           ...
3689686    2010
3702876    2010
3721623    2010
3733844    2010
3760548    2010
Name: numAno, Length: 63, dtype: int64

In [ ]:
deps.loc[deps['datEmissao'].dt.year < 2008, 'numAno'].astype(str) + '/' + \
deps.loc[deps['datEmissao'].dt.year < 2008, 'numMes'].astype(str)

403666     2009/11
426292      2009/9
472887      2009/9
499149      2009/9
504559      2009/6
            ...
3689686    2010/11
3702876     2010/7
3721623     2010/7
3733844     2010/2
3760548     2010/3
Length: 63, dtype: object

\: prox linha

In [ ]:
pd.to_datetime(deps.loc[deps['datEmissao'].dt.year < 2008, 'numAno'].astype(str) + '/' + \
deps.loc[deps['datEmissao'].dt.year < 2008, 'numMes'].astype(str), 
format = '%Y/%m')

403666    2009-11-01
426292    2009-09-01
472887    2009-09-01
499149    2009-09-01
504559    2009-06-01
             ...
3689686   2010-11-01
3702876   2010-07-01
3721623   2010-07-01
3733844   2010-02-01
3760548   2010-03-01
Length: 63, dtype: datetime64[ns]

In [ ]:
deps.loc[deps['datEmissao'].dt.year < 2008, 'datEmissao'] = pd.to_datetime(deps.loc[deps['datEmissao'].dt.year < 2008, 'numAno'].astype(str) + '/' + \
deps.loc[deps['datEmissao'].dt.year < 2008, 'numMes'].astype(str), 
format = '%Y/%m')

In [ ]:
deps['datEmissao'].min()

Timestamp('2008-01-01 00:00:00')